.tab {
    width: 100%;
    text-align: center;
}
.completed{
  width: 100%;
  text-align: center;
}
#posleft{
  text-align: left;
}
thead {
        background-color: black;
        color: white;
    }

      .scroll {
        position: sticky;
          display: flex;
  align-items: center;
  justify-content: center;
      top: 0;
         }

button:hover {
    background-color:  #f44336;
    color: white;
}

input:focus {
    background-color: #e7e7e7;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   background-color: papayawhip;
   border: 2px solid black;
}

.editmodal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   background-color: papayawhip;
   border: 1px solid black;
   width: 600px;
   height: 60px;
}

.detailsModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
   background-color: papayawhip;
   border: 1px solid black;
   width: 600px;
   height: 200px;
}
/* button {
  margin-right: 0px;
} */

/* .close-button {

  z-index: 1;
  top: 10px;
  right: 20px;
  border: 0;
  background: black;
  color: white;
  padding: 5px 10px;
  font-size: 1.3rem;
} */
.center {
  text-align: center;
}
#users{
  background-color: papayawhip;
}
#deltasks{
  /* text-align: center; */
  float: right;
}
